<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="content-language" content="en-us" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="{head.description}" />
    <base href="{global.baseUrl}" />
    <title>{head.title} | {global.appName}</title>

    <link type="image/x-icon" rel="icon" href="favicon.ico" />
    <link type="text/css" rel="stylesheet" href="public/app.css" />
    <script type="text/javascript" charset="utf-8" src="public/app.js"></script>
  </head>
  <body class="{body.class}">
    <!-- Page Wrapper -->
    <div class="wrapper">
      <!-- Header -->
      <div class="header">
        <a class="logo" href="/">
          <img src="public/logo.png" alt="logo">
        </a>

        <ul class="menu">
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a class="loggedOut" href="/account/create">Signup</a>
          </li>
          <li>
            <a class="loggedOut" href="/session/create">Login</a>
          </li>
          <li>
            <a class="loggedIn" href="/checks/all">Dashboard</a>
          </li>
          <li>
            <a class="loggedIn" href="/account/edit">Account Settings</a>
          </li>
          <li>
            <a class="loggedIn" href="#">Logout</a>
          </li>
        </ul>
      </div>

      <!-- Page Specific Content -->
      <div class="content">
